[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
notebook = "*"
boto3 = "*"
google-cloud-storage = "*"
deltalake = "*"
pandas = "*"
delta-sharing = "*"

[dev-packages]

[requires]
python_version = "3.8"
