[package]
name = "delta-sharing-common"
version = "0.1.0"
edition = "2021"
authors = ["Robert Pack <robstar.pack@gmail.com>"]

[dependencies]
# workspace dependencies (in alphabetical order)
async-trait = { workspace = true }
chrono = { workspace = true }
delta_kernel = { workspace = true }
http = { workspace = true }
object_store = { workspace = true }
serde = { workspace = true }
thiserror = { workspace = true }
tonic = { workspace = true }
tower = { workspace = true }
tracing = { workspace = true }
url = { workspace = true }

# server dependencies (in alphabetical order)
bytes = { version = "1.1" }
futures-util = "0.3.28"
pbjson = { version = "0.7" }
prost = { version = "0.13" }
serde_json = { version = "1.0" }
tokio = { version = "1", features = ["rt-multi-thread", "parking_lot"] }


# in-memory handler dependencies (in alphabetical order)
dashmap = { version = "6", optional = true }
uuid = { version = "1.8", optional = true, features = ["v5"] }

# profile management dependencies (in alphabetical order)
hex = { version = "0.4.3", optional = true }
jsonwebtoken = { version = "9.3", optional = true }
ring = { version = "0.17.8", default-features = false, features = [
    "std",
], optional = true }

# axum handler dependencies (in alphabetical order)
axum = { version = "0.7.5", optional = true }

[dev-dependencies]
tokio = { version = "1", features = ["full"] }
tower = "*"
http = "*"
http-body-util = "*"
serde_json = "*"


[features]
default = ["memory", "profiles", "axum"]
memory = ["dashmap", "uuid"]
profiles = ["jsonwebtoken", "hex", "ring"]
axum = ["dep:axum"]
