name: test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install minimal stable with clippy and rustfmt
        uses: actions-rs/toolchain@v1
        with:
          profile: default
          toolchain: stable
          override: true

      - name: Format
        run: cargo fmt -- --check

  build:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-11
          - windows-latest
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v3

      - name: Install minimal stable with clippy and rustfmt
        uses: actions-rs/toolchain@v1
        with:
          profile: default
          toolchain: stable
          override: true

      - uses: Swatinem/rust-cache@v2

      - name: build and lint with clippy
        run: cargo clippy --tests

      - name: Check docs
        run: cargo doc --no-deps

  test:
    strategy:
      fail-fast: false
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:alpine
        env:
          POSTGRES_DB: sharing
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: secret
        ports:
          - 5432:5432
    env:
      # Disable full debug symbol generation to speed up CI build and keep memory down
      RUSTFLAGS: -C debuginfo=line-tables-only
      # Disable incremental builds by cargo for CI which should save disk space
      # and hopefully avoid final link "No space left on device"
      CARGO_INCREMENTAL: 0
      DATABASE_URL: postgres://postgres:secret@127.0.0.1:5432/sharing

    steps:
      - uses: actions/checkout@v3

      - name: Install minimal stable with clippy and rustfmt
        uses: actions-rs/toolchain@v1
        with:
          profile: default
          toolchain: "stable"
          override: true

      - uses: Swatinem/rust-cache@v2

      - name: Run unit tests
        run: cargo test --lib

      - name: Run integration tests
        run: cargo test --tests
