name: test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: rustfmt
          toolchain: stable

      - name: Format
        run: cargo fmt -- --check

  build:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: clippy
          toolchain: stable

      - name: Check clippy
        run: cargo clippy --tests

      - name: Check docs
        run: cargo doc --no-deps

  unit:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
    runs-on: ${{ matrix.os }}

    env:
      # Disable full debug symbol generation to speed up CI build and keep memory down
      RUSTFLAGS: -C debuginfo=line-tables-only
      # Disable incremental builds by cargo for CI which should save disk space
      # and hopefully avoid final link "No space left on device"
      CARGO_INCREMENTAL: 0

    steps:
      - uses: actions/checkout@v4

      - name: Setup rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: stable

      - name: Run unit tests
        run: cargo test --lib

  policy:
    name: OpenFGA model tests
    runs-on: ubuntu-latest

    services:
      openfga:
        image: openfga/openfga:latest
        ports:
          - 8080:8080
          - 8081:8081
        options: run

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run model tests
        uses: openfga/action-openfga-test@v0.1.1
        with:
          store-file-path: ./delta-sharing/openfga/fga/dev.fga.yaml

      - name: Run openfga create tests
        run: |
          export FGA_STORE_ID="$(fga store import --file ./delta-sharing/openfga/fga/dev.fga.yaml | jq -r .store.id)"
          cargo test -p delta-sharing-openfga

  integration:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:alpine
        env:
          POSTGRES_DB: sharing
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: secret
        ports:
          - 5432:5432

    env:
      # Disable full debug symbol generation to speed up CI build and keep memory down
      RUSTFLAGS: -C debuginfo=line-tables-only
      # Disable incremental builds by cargo for CI which should save disk space
      # and hopefully avoid final link "No space left on device"
      CARGO_INCREMENTAL: 0
      DATABASE_URL: postgres://postgres:secret@127.0.0.1:5432/sharing

    steps:
      - uses: actions/checkout@v4

      - name: Setup rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: stable

      - name: Run integration tests
        run: cargo test --tests
